@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;

  /* Primary and secondary colors */
  --color-primary: #facc15;     /* Yellow */
  --color-primary-content: #000000;

  --color-secondary: #000000;   /* Black */
  --color-secondary-content: #ffffff;

  --color-base-100: #ffffff;    /* Background */
  --color-base-content: #111827;

  --color-neutral: #e5e7eb;
  --color-neutral-content: #1f2937;
}


@layer base {
  h1, h2, h3, h4, h5, h6,
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  p, span, 
   .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}

/* Swiper pagination dot custom styles */
.swiper-pagination {
  margin-top: 30px !important; /* move dots further below */
  position: relative !important;
}

.swiper-pagination-bullet {
  background-color: #facc15 !important; /* yellow-400 from Tailwind */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fde047 !important; /* brighter yellow when active */
}
